<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="actitime-automation" verbose="1" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.actitimeautomation.common.TestListners.java"></listener>
    </listeners>
    <test name="Regression">
        <parameter name="browser" value="chrome"/>
        <parameter name="username" value="UN1"/>
        <parameter name="password" value="PW1"/>
        <packages>
            <package name="com.actitimeautomation"/>
        </packages>

    </test>

</suite>
